.carousel-container{

  position: relative;
}


.carousel-overlay {
    position:absolute;

    padding: 5px 10px;
    background-color: rgb(255, 255, 255); /* Black background with transparency */
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 8%;

    box-shadow: 2px 2px 2px 2px black;
  }
  .carousel-overlay1 {
    position: absolute;
   
    padding: 5px 10px;
    background-color:transparent; /* Black background with transparency */
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 10%;
  }
  
  .contact-us {
    top: 14%;
    left: 39%;
    transform: translateX(-50%);
    font-size: 12px;
    width: 160px;
    font-weight: 600;
  }
.contact-us h2{
  font-size: 20px;
  font-weight: 700;
}

  .news {
    top: 14%;
    left: 18%;
    font-weight: 600;
    font-size: 12px;
    width: 160px;
  }
  .news h2 {
    font-size: 20px;
    font-weight: 700;
  }
  
  .founder {
    bottom: 10%;
    left: 74%;
    transform: translateX(-50%);
font-weight: 600;
    width: 200px !important;
    padding: 0%;
    overflow: hidden;
    font-size: 13px;
  }
  .founder h2{
    font-size: 20px !important;
    font-weight: 700;
  }
  .founder1 {
    bottom: 10%;
  left: 91%;
    transform: translateX(-50%);
    font-weight: 600;
    width: 200px !important;
    padding: 0%;
    overflow: hidden;
    font-size: 13px;
  }
  .founder1 h2{
    font-size:20px !important;
    font-weight: 700;
  }
  .founder1 img {
    height: 150px;
    overflow: hidden;
  }
  .founder img {
    height: 150px;
    width: 200px;
    overflow: hidden;
  }
  .archive-search {
    bottom: 1%;
    right: 35%;
    font-size: 13px;
    font-weight: 600;
    width: 200px;
  }
  .archive-search h2{
    font-size: 20px;
    font-weight: 700;
  }
  .image-gallery {
    top: 10%;
    overflow: hidden;
    right: 1%;
    font-size: 12px;
    padding: 0%;
    width: 20%; /* Reduced width */
  }
  
  .about-us {
 top: 14%;
    left: 4%;
    font-size: 12px;
    font-weight: 600;
    width: 160px;
  }
  .about-us h2{
font-size: 20px;
font-weight: 700;
  }
  .small-gallery-image {
    width: 100%;
    height: auto;
    overflow: hidden;
  
  }
  .carousel-overlay .caption {
    position: absolute;
top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
 height: 50px;
    text-align: center;
    width: 100%;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.5);
 padding-top: 15px;
    overflow: hidden;
  }

  .small-gallery-image {
    height: auto;
    object-fit: cover;
    overflow: hidden;
  }

  .carousel-overlay ul {
    list-style-type: none;
    padding: 0;
  }
  
  .carousel-overlay ul li a {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-bottom: 5px;
    margin: 5px 0;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .carousel-overlay ul li a:hover {
    background-color: rgb(0, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
  }
  
  .carousel-overlay1.button-group-overlay {
    position: absolute;
    bottom: 70%;
    left: 60%;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    gap: 10px; /* Space between buttons */
  }

  .carousel-overlay1.button-group-overlay .btn {
    font-size: 14px;
    font-weight: bold;
  
    background-color: rgba(255, 255, 255, 0.3); /* Adjust transparency */
    backdrop-filter: blur(3px); /* Apply blur effect */
    border: none; /* Optional: remove border */
    color: #000; /* Optional: text color */
 border-color: transparent;
}


/* For screens smaller than 768px (e.g., mobile devices) */
@media (max-width: 768px) {
    .carousel-overlay.contact-us {
      top: 17%;
      left: 45%;
      transform: translateX(-50%);
      width: 110px;
      font-size: 6px;
     padding: 2%;
    }
    .contact-us h2{
      font-size: 15px;
    }
    .carousel-overlay.news {
      top: 17%;
      left: 74%;
      transform: translateX(-50%);
      width: 100px;
      font-size: 6px;
      padding: 2%;
    }
  .news h2{
    font-size: 15px;
  }
    .carousel-overlay.founder {
      top:62%;
      left: 16%;
      transform: translateX(-50%);
 width: 100px !important;
      font-size: 6px;
      height: 170px;
    }
  .founder h2{
    font-size: 15px !important;
  }

    .carousel-overlay.founder1 {
      top: 62%;
      height: 170px;
      left: 45%;
      transform: translateX(-50%);
      width: 100px !important;
      font-size: 6px;
    }
  .founder1 h2{
    font-size: 15px !important;
  }
    .carousel-overlay.archive-search {
      top: 62% !important;
      left: 80%;
      transform: translateX(-50%);
      width: 150px;
      font-size: 6px;
      height: 220px;
    }
  .archive-search h2{
    font-size: 15px !important;
  }
    .carousel-overlay.image-gallery {
      top: 35%;
      left: 80%;
      transform: translateX(-50%);
      width: 150px;
      
      font-size: 6px;
    }
    .carousel-overlay .caption {
        position: absolute;
        bottom: 60%;
        left: 50%;
        height: 30px;
        transform: translateX(-50%);
        color: white;
        text-align: center;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
      padding-top: 10px;
      }
      
    .carousel-overlay.about-us {
   top: 17%;
      left: 15%;
      transform: translateX(-50%);
      width: 100px;
      font-size: 6px;
      height: 200px;
      padding: 2%;
    }
  .about-us h2{
    font-size: 15px !important;
  }
    .carousel-overlay1.button-group-overlay {
      bottom: 42%;
      left: 38%;
      transform: translateX(-50%);
      width: 100px;
      font-size: 6px;
    }
    
  .carousel-overlay1.button-group-overlay .btn {
    font-size: 12px;
    padding: 5px 40px;
  }
  .founder1 img {
    height:100px;
 
  }
  .founder img {
    height: 100px;
    width: 100px;
  }
  }
