body {
  margin: 0;
  padding: 0;

}

.navbar {
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background: rgba(0, 0, 0, 0.8) !important;
}

.carousel img {
  height: 100vh;
  object-fit: cover;
}
